<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>News</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" ></script>
    <script th:src="@{js/core.js}" ></script>
    <link th:href="@{/css/core.css}" rel="stylesheet" media="screen" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body class="hidden-sn mdb-skin">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">SmartNews</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <li id="login-button" class="dropdown navbar-form navbar-right" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/user-setting}">User Settings</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </li>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container create-menu">
    <form action="#" th:action="@{/news/get-data}" th:object="${newsForm}" method="post">
        <fieldset>
            <legend th:text="#{news.get_rss_data}">Get RSS data</legend>

            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            My aggregators:
                            <select th:field="${newsForm.aggregatorId}">
                                <option th:each="aggregator : ${aggregators}" th:value="${aggregator.id}" th:text="${aggregator.topic}">Template</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p><button type="submit" class="btn btn-success"><span th:text="#{news.get_data}"></span></button></p>
        </fieldset>
    </form>
</div>

<div class="container">
    <div th:if="${rssNews != null}" class="jumbotron">
        <h2>
            <span class="display-4">Feed details</span>&nbsp;
<!--            <span class="display-4" th:text="${rssNews.description}"></span>&nbsp;&nbsp;&nbsp;-->
<!--            <span class="display-4" th:text="${rssNews.language}"></span>&nbsp;&nbsp;&nbsp;-->
<!--            <span class="display-4" th:text="${rssNews.lastBuildDate}"></span>-->
        </h2>
<!--        <p class="lead">Total cases reported as of today</p>-->
        <hr class="my-4">
        <p>
            <span>Title: </span>
            <span th:text="${rssNews.title}"></span>
        </p>
        <p>
            <span>Description: </span>
            <span th:text="${rssNews.description}"></span>
        </p>
        <p>
            <span>Language: </span>
            <span th:text="${rssNews.language}"></span>
        </p>
        <p>
            <span>Last build date: </span>
            <span th:text="${rssNews.lastBuildDate}"></span>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>RSS data</h2>
            <div th:if="${rssNews == null || rssNews.feed == null || #lists.isEmpty(rssNews.feed)}">
                There are no data!!
            </div>
            <div th:unless="${rssNews == null || rssNews.feed == null || #lists.isEmpty(rssNews.feed)}">
<!--                <span th:text="${feed.get(0).title}"></span>-->
                <table class="table">
                    <thead>
                    <tr>
<!--                        <td>ID</td>-->
                        <td>Title</td>
                        <td>Content</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rss : ${rssNews.feed}">
<!--                        <td><span th:text="${new.id}"></span></td>-->
                        <td><span th:text="${rss.title}"></span></td>
                        <td><span th:text="${rss.description}"></span></td>
                        <td><span th:text="${rss.link}"></span></td>
                        <td><span th:text="${rss.source}"></span></td>
                        <td><span th:text="${rss.publishedDate}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>© 2020 Company, Inc.</p>
    </footer>
</div> <!-- /container -->

</body>
</html>